body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* The animation code */
@keyframes colorChanger {
    0% {
        color: #337ab7;
    }

    50% {
        color: red;
    }

    100% {
        color: #337ab7;
    }
}

.animate {
    /* Safari */
    -webkit-animation-name: colorChanger;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;

    animation-name: colorChanger;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}

.orderline-header {
    background-color: lightblue;
    font-weight: bold;
}
.orderline:nth-of-type(odd) {
    background-color: lightcyan;
}
.orderline:nth-of-type(even) {
    background-color: white;
}
.orderline-total {
    background-color: white;
    font-weight: bold;
}
.orderline-code, .orderline-description {
    text-align: left;
}
.orderline-amount, .orderline-price {
    text-align: right;
}